* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import custom ArialMTLight font */
@font-face {
  font-family: 'ArialMTLight';
  src: url('../fonts/ARIALMTLIGHT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ArialMTLight', Arial, sans-serif;
}

/* ----------------------------------------------------------------------------- */

/* Login Page Styles Start Here */
.login-bg{
    min-height: 100vh;
    background: linear-gradient(to right, #11110f 35%, #1c1918);
    padding: 3rem 20%;
}
.login-bg .login-container{
    background-color: #0f0d0a;
    padding: 2.5rem 5rem 4rem 5rem; 
    border-radius: 2rem;
    box-shadow:
    2px 2px 6px 0 #ac823f,
    -2px 2px 6px 0 #ac823f,
    2px -2px 6px 0 #ac823f,
    -2px -2px 6px 0 #ac823f;
}
.login-bg .login-container .logo{
    display: flex;
    justify-content: center;
}
.login-bg .login-container .logo img{
    width: 300px;
}
.login-bg .login-container .login-title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.login-bg .login-container a{
    text-decoration: underline;
    text-align: center;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
}
.login-bg .otp-sent-popup{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
}
.login-bg .otp-sent-popup.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.login-bg .otp-sent-popup p{
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
    margin-top: 0.7rem;
}
.login-bg .login-form form{
    margin-top: 2.8rem;
}
.login-bg .login-form form .input-box{
    margin-bottom: 1rem;
}
.login-bg .login-form form input,
.login-bg .login-form form button{
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
}
.login-bg .login-form form input::placeholder{
    color: #bfa274;
}
.login-bg .login-form form input:focus{
    outline: 2px solid #614e2f;
}
.login-bg .login-form form input::-webkit-inner-spin-button{
    display: none;
}
.login-bg .login-form form #input-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.login-bg .login-form form #input-box-2 input{
    width: 70%;
}
.login-bg .login-form form #input-box-2 button{
    width: 28%;
    border: 2.4px solid #7a633e;
    background-color: #13120e;
    padding: 0.9rem 0;
    box-shadow: #ac823f 0px 3px 8px;
}
.login-bg .login-form form #input-box-2 button:active{
    box-shadow: #ac823f 0px 7px 8px;
}
.login-bg .login-form form button[type="submit"]{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #1b1b1b;
    border: none;
    font-size: calc(1.2rem + 0.5vw);
}
.login-bg .login-form form button[type="submit"]:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
.login-bg .login-bottom-text{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1.5rem;
}
.login-bg .login-bottom-text p{
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
}
.login-bg .login-bottom-text i{
    margin-right: 5px;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .login-bg{
        padding: 4rem 1.7rem 3rem 1.7rem;
    }
    .login-bg .login-container{
        padding: 1rem 1.3rem 2rem 1.3rem; 
    }
    .login-bg .login-container .logo img{
        width: 270px;
    }
    .login-bg .login-container .login-title{
        margin-top: 1.2rem;
    }
    .login-bg .login-container a{
        font-size: calc(0.9rem + 0.5vw);
    }
    .login-bg .otp-sent-popup p{
        font-size: calc(0.75rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .login-bg .login-form form{
        margin-top: 1.9rem;
    }
    .login-bg .login-form form .input-box{
        margin-bottom: 0.9rem;
    }
    .login-bg .login-form form input,
    .login-bg .login-form form button{
        padding: 1rem 1rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .login-bg .login-form form input:focus{
        outline: 1.5px solid #614e2f;
    }
    .login-bg .login-form form #input-box-2{
        margin-bottom: 1.8rem;
    }
    .login-bg .login-form form #input-box-2 input{
        width: 59%;
    }
    .login-bg .login-form form #input-box-2 button{
        width: 36.5%;
        border: 2px solid #7a633e;
        /* padding: 1rem 0; */
        padding: 0.7rem 0;
    }
    .login-bg .login-form form #input-box-2 button:active{
        box-shadow: #ac823f 0px 6px 8px;
    }
    .login-bg .login-form form button[type="submit"]{
        font-size: calc(1.2rem + 0.5vw);
        padding: 0.8rem 1rem;
    }
    .login-bg .login-bottom-text{
        flex-direction: column;
        align-items: left;
        padding: 0 0.5rem;
        margin-top: 1.5rem;
    }
    .login-bg .login-bottom-text p{
        font-size: calc(0.7rem + 0.5vw);
        margin-bottom: 0.4rem;
    }
    .login-bg .login-bottom-text i{
        margin-right: 4px;
    }
}

@media screen and (min-width: 420px) and (max-width: 767px){
    .login-bg{
        padding: 6rem 1.7rem 3rem;
    }
}
/* Login Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* SignUp Page Styles Start Here */
.signup-bg{
    min-height: 100vh;
    background: linear-gradient(
        to bottom right,
        #2a2110 0%,
        #2a2110 2%,
        #11110f 25%,
        #11110f 100%
    );
    padding: 3rem 20%;
}
.signup-bg .logo{
    display: flex;
    justify-content: center;
}
.signup-bg .logo img{
    width: 300px;
}
.signup-container{
    background-color: #0a0a0a;
    padding: 2.5rem 3.5rem; 
    border-radius: 2rem;
    border: 3px solid #614e2f;
    margin-top: 2rem;
}
.signup-container form .input-box{
    margin-bottom: 1.5rem;
}
.signup-container form label{
    width: 100%;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 0.5rem;
}
.signup-container form input{
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
}
.signup-container form input:focus{
    outline: 2px solid #614e2f;
}
.signup-container form #gender-input-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.signup-container form #gender-input-box label{
    width: max-content;
    font-size: calc(0.6rem + 0.5vw);
    margin-top: 0.5rem;
    margin-right: 3rem;
}
.signup-container form #gender-input-box input{
    width: max-content;
    margin-right: 0.6rem;
    accent-color: #614e2f;
    outline: none;
    width: 18px;
    height: 18px;
}
.signup-container form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(38%) sepia(24%) saturate(1117%) hue-rotate(7deg) brightness(92%) contrast(86%);
}
.signup-container form #phone-input-box {
    display: flex;
    align-items: center;
}
.signup-container form #phone-input-box span{
    padding: 1.2rem 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
    border-right: none;
}
.signup-container form #phone-input-box span.focused{
    border-top: 3.3px solid #614e2f;
    border-left: 3.3px solid #614e2f;
    border-bottom: 3.3px solid #614e2f;
}
.signup-container form #phone-input-box input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
    outline: none;
}
.signup-container form #phone-input-box input:focus{
    border-top: 3.3px solid #614e2f;
    border-right: 3.3px solid #614e2f;
    border-bottom: 3.3px solid #614e2f;
}
.signup-container form #phone-input-box input::-webkit-inner-spin-button{
    display: none;
}
.signup-container form #checkbox-section{
    display: flex;
    gap: 1rem;
}
.signup-container form #checkbox-section input{
    width: 30px;
    height: 30px;
    outline: none;
    accent-color: #bfa274;
}
.signup-container form #checkbox-section p{
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
    margin-top: 2px;
}
.signup-container form button{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #0f0f0f;
    font-weight: 600;
    font-size: calc(1.1rem + 0.5vw);
    border: none;
    width: 45%;
    padding: 0.5rem 0 0.6rem 0;
    border-radius: 8px;
    margin-top: 2rem;
    transition: all 0.2s ease;
}
.signup-container form button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
.signup-container .signup-title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.signup-container .signup-title a{
    text-decoration: underline;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
}
.signup-bg .signup-foot-text{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.signup-bg .signup-foot-text p{
    text-align: center;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.4rem + 0.5vw)
}
.signup-bg .signup-foot-text i{
    margin-right: 5px;
}

.signup-container form .error-text{
    color: #d35731;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
    display: none;
}
.signup-container form .error-text.show{
    display: block;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .signup-bg{
        padding: 2.5rem 1.2rem 1rem 1.2rem;
    }
    .signup-bg .logo img{
        width: 270px;
    }
    .signup-container{
        padding: 1.2rem 1.2rem; 
        border-radius: 1.3rem;
        border: 2px solid #614e2f;
        margin-top: 0.8rem;
    }
    .signup-container form .input-box{
        margin-bottom: 1rem;
    }
    .signup-container form label{
        font-size: calc(0.8rem + 0.5vw);
    }
    .signup-container form input{
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
    }
    .signup-container form input:focus{
        outline: 0.8px solid #614e2f;
    }
    .signup-container form #gender-input-box label{
        font-size: calc(0.68rem + 0.5vw);
        margin-top: 0.59rem;
        margin-right: 1.1rem;
    }
    .signup-container form #gender-input-box input{
        margin-right: 0.4rem;
        width: 14px;
        height: 14px;
    }
    .signup-container form input[type="date"]::placeholder {
        font-size: calc(0.85rem + 0.5vw);
    }
    .signup-container form #phone-input-box span{
        padding: 0.5rem 0.7rem;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
        border-right: none;
    }
    .signup-container form #phone-input-box span.focused{
        border-top: 2.6px solid #614e2f;
        border-left: 2.6px solid #614e2f;
        border-bottom: 2.6px solid #614e2f;
    }
    .signup-container form #phone-input-box input{
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
    }
    .signup-container form #phone-input-box input:focus{
        border-top: 2.6px solid #614e2f;
        border-right: 2.6px solid #614e2f;
        border-bottom: 2.6px solid #614e2f;
    }

    .signup-container form #checkbox-section{
        gap: 0.5rem;
    }
    .signup-container form #checkbox-section input{
        width: 35px;
        height: 35px;
    }
    .signup-container form #checkbox-section p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 9px;
    }
    .signup-container form button{
        font-size: calc(1rem + 0.5vw);
        width: 65%;
        padding: 0.45rem 0 0.45rem 0;
        border-radius: 8px;
        margin-top: 1.5rem;
        transition: all 0.2s ease;
    }
    .signup-container .signup-title a{
        font-size: calc(0.68rem + 0.5vw);
    }
    .signup-bg .signup-foot-text{
        margin-top: 1.5rem;
    }
    .signup-bg .signup-foot-text p{
        font-size: calc(0.47rem + 0.5vw)
    }
    .signup-bg .signup-foot-text i{
        margin-right: 3px;
    }
}
/* SignUp Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* Home Page Styles Start Here */
.home-bg{
    min-height: 100vh;
    background-color: #11110f;
    padding: 3rem 20% 0 20%;
}
.home-head .logo{
    display: flex;
    justify-content: center;
}
.home-head .logo img{
    width: 300px;
}
.home-head h1{
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    text-shadow: 0px 1px #f3d192;
    margin-top: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(90deg, #bfa274, #f3d192, #bfa274);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.home-bg .member-card{
    background-color: #0c0c0c;
    padding: 3rem; 
    border-radius: 1.5rem;
    border: 3px solid #614e2f;
    margin-top: 2rem;
}
.home-bg .member-card .member-card-row{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.home-bg .member-card .member-card-row:last-child{
    margin-bottom: 0;
}
.home-bg .member-card .member-card-row i{
    color: #80673d;
    font-size: calc(1rem + 0.5vw);
    margin-right: 1rem;
}
.home-bg .member-card .member-card-row h2{
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    margin: 0;
}
.home-bg .member-card .member-card-row span{
    color: #8f7548;
    margin-left: 1.5rem;
    font-size: calc(0.9rem + 0.5vw);
}
.home-bg .spend-card{
    padding: 0;
    padding-top: 3rem;
    overflow: hidden;
}
.home-bg .spend-card .member-card-row{
    padding: 0 3rem;
}
.spend-tracker{
    background-color: #000;
    padding: 2rem 3rem;
    text-align: center;
}
.spend-tracker .tiers-header{
    display: flex;
    justify-content: space-between;
}
.spend-tracker .tier-label{
    flex: 1;
}
.spend-tracker .tier-label h3{
    color: #a68a5d;
    font-weight: 600;
    font-size: calc(0.6rem + 0.5vw);
    margin-bottom: 0.6rem;
}
.spend-tracker .tier-label p{
    color: #d3d3d3;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
    margin: 0;
    margin-bottom: 0.6rem;
}
.spend-tracker .tracker-bar{
    position: relative;
    display: flex;
}
.spend-tracker .tier-box{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.35rem 0;
    background: #2d2d2d;
}
.spend-tracker .tier-box:first-child{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.spend-tracker .tier-box:last-child{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.spend-tracker .tier-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress, 0%);
    background: var(--fill-color, white);
    transition: width 0.4s ease;
}
.spend-tracker .tier-box:first-child::before {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.spend-tracker .tier-box:last-child::before {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.spend-tracker .tier-box span {
    z-index: 2;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
}
.spend-tracker .spend-indicator {
    position: absolute;
    bottom: -52px;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 50;
    background-color: #eed8a4;
    color: #000;
    padding: 0.2rem 0.5rem;
    font-size: calc(0.3rem + 0.5vw);
    font-weight: 600;
    border-radius: 4px;
}
.spend-tracker .spend-indicator::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f3e5c0;
} 
.tracker-foot{
    background-color: #000;
    padding: 1.5rem 0 1rem 0;
}
.tracker-foot p{
    margin: 0;
    text-align: center;
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
}
.home-bg .cts-btns{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-bg .cts-btns a{
    width: 24%;
}
.home-bg .cts-btns a button{
    width: 100%;
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #151515;
    border: none;
    border-radius: 8px;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    padding: 0.5rem 0;
}
.home-bg .cts-btns a button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    border-top: 2px solid #bfa274;
    border-radius: 80px;
    padding: 1rem 0;
}
footer a{
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
}
footer a:hover{
    color: #a88a5b;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .home-bg{
         padding: 2.5rem 1.2rem 1rem 1.2rem;
    }
    .home-head .logo img{
        width: 270px;
    }
    .home-head h1{
        font-size: calc(1rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .home-bg .member-card{
        padding: 1.2rem 1.1rem; 
        border-radius: 1.3rem;
        border: 2px solid #614e2f;
        margin-top: 1.3rem;
    }
    .home-bg .member-card .member-card-row{
        margin-bottom: 1rem;
    }
    .home-bg .member-card .member-card-row i{
        font-size: calc(1rem + 0.5vw);
        margin-right: 0.6rem;
    }
    .home-bg .member-card .member-card-row h2{
        font-size: calc(0.8rem + 0.5vw);
    }
    .home-bg .member-card .member-card-row span{
        margin-left: 0.6rem;
        font-size: calc(0.85rem + 0.5vw);
    }
    .home-bg .spend-card{
        padding: 0;
        padding-top: 1.2rem;
    }
    .home-bg .spend-card .member-card-row{
        padding: 0 1.2rem;
    }
    .spend-tracker {
        padding: 1.2rem 0.4rem;
    }
    .spend-tracker .tier-label h3{
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .spend-tracker .tier-box{
        padding: 0.35rem 0;
    }
    .spend-tracker .tier-box span{
        font-size: calc(0.44rem + 0.5vw);
    }
    .spend-tracker .tier-label p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .spend-tracker .tier-box:first-child{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .spend-tracker .tier-box:last-child{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .spend-tracker .tier-box:first-child::before {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .spend-tracker .tier-box:last-child::before {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .spend-tracker .spend-indicator {
        bottom: -43px;
        padding: 0.2rem 0.4rem;
        font-size: calc(0.45rem + 0.5vw);
        border-radius: 4px;
    }
    .spend-tracker .spend-indicator::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #f3e5c0;
    }
    .tracker-foot{
        padding: 1.3rem 0 1rem 0;
    }
    .tracker-foot p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .home-bg .cts-btns{
        margin-top: 1.3rem;
    }
    .home-bg .cts-btns a{
        width: 48.5%;
    }
    .home-bg .cts-btns a button{
        font-size: calc(0.75rem + 0.5vw);
        margin-bottom: 0.6rem;
    }
    footer{
        gap: 2.5rem;
        margin-top: 1.6rem;
        border-top: 1.7px solid #bfa274;
    }
    footer a{
        font-size: calc(0.7rem + 0.5vw);
    }
}

@media screen and (min-width: 405px) and (max-width: 768px) {
    .spend-tracker .tier-box span{
        font-size: calc(0.5rem + 0.5vw);
    }
    .spend-tracker .spend-indicator {
        font-size: calc(0.48rem + 0.5vw);
    }
}
/* Home Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* Know Your Program Page Styles Start Here */
.kyp-bg{
    min-height: 100vh;
    background-color: #11110f;
    padding: 3rem 20% 0 20%;
}
.kyp-bg .kyp-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kyp-bg .kyp-head img{
    width: 270px;
}
.kyp-bg .spend-tracker{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-top: 3px solid #614e2f;
    margin-top: 2rem;
}
.kyp-bg .tracker-foot{
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom: 1.5px solid #614e2f;
}
.kyp-bg .kyp-chart{
    background-color: #0c0c0c;
    border-radius: 1.5rem;
    padding: 2rem 3rem 2.5rem 3rem;
    margin-top: 2rem;
    border: 3px solid #614e2f;
}
.kyp-bg .kyp-chart h1{
    text-align: center;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
}
.kyp-bg .kyp-chart h2{
    text-align: center;
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    color: #d1d1d1;
    margin-top: 1.5rem;
}
.kyp-bg .kyp-chart .kyp-table{
    margin-top: 1.5rem;
    border: 1px solid #614e2f;
    border-radius: 7px;
    background-color: #161616;
    overflow: hidden;
}
.kyp-bg .kyp-chart .kyp-table-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #614e2f;
}
.kyp-bg .kyp-chart .kyp-table-row:last-child{
    border-bottom: none;
}
.kyp-bg .kyp-chart .kyp-table-row .kyp-table-column{
    text-align: center;
    border-right: 1px solid #614e2f;
    padding: 0.7rem 0;
    width: 35%;
}
.kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:last-child{
    border-right: none;
}
.kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:first-child {
    width: 40%;
}
.kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:last-child {
    width: 25%;
}
.kyp-bg .kyp-chart .kyp-table-row .kyp-table-column p{
    margin: 0;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw)
}
.kyp-bg .kyp-accordion{
    background-color: #0c0c0c;
    border-radius: 1.5rem;
    padding: 2.5rem 3rem;
    margin-top: 2rem;
    border: 3px solid #614e2f;
    overflow: hidden;
}
.kyp-accordion .accordion-item{
    background-color: #0c0c0c;
    margin-bottom: 0.8rem;
    border: none !important;
}
.kyp-accordion .accordion-item:last-child{
    margin-bottom: 0;
}
.kyp-accordion .accordion-button,
.kyp-accordion .accordion-body {
    background-color: #111 !important;
    box-shadow: none;
    border: 1px solid #614e2f !important;
    border-radius: 7px !important;
    color: #bfa274;
    font-weight: 600;
}
.kyp-accordion .accordion-body{
    margin-top: 0.4rem;
    background-color: #161616 !important;
}
.kyp-accordion .accordion-body span{
    font-family: Arial, 'ArialMTLight', sans-serif;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
    margin-bottom: 1rem;
    display: block;
}
.kyp-accordion .accordion-body p{
    font-size: calc(0.55rem + 0.5vw);
    margin: 0;
}
.kyp-accordion .accordion-body a{
    color: #bfa274;
}
.kyp-accordion .accordion-body table{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.kyp-accordion .accordion-body table th,
.kyp-accordion .accordion-body table td{
    border: 1px solid #bfa274;
    padding: 10px;
}
.kyp-accordion .accordion-button{
    font-size: calc(0.9rem + 0.5vw);
    font-family: Arial, 'ArialMTLight', sans-serif;
    font-weight: 700;
}
.kyp-accordion .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(62%) sepia(22%) saturate(1046%) hue-rotate(7deg) brightness(92%) contrast(86%);
}
.kyp-accordion .accordion-button::after {
    display: none;
}
.kyp-accordion .accordion-button {
    position: relative;
}
.kyp-accordion .accordion-button.collapsed::before,
.kyp-accordion .accordion-button::before {
    content: "\f067";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #bfa274;
}
.kyp-accordion .accordion-button:not(.collapsed)::before {
    content: "\f068";
}
.kyp-bg .cta-content{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.kyp-bg .cta-content p{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    text-align: center;
}
.kyp-bg .cta-content button{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #151515;
    border: none;
    border-radius: 8px;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    padding: 0.5rem 2.5rem;
}
.kyp-bg .cta-content button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .kyp-bg{
        padding: 2rem 1.2rem 1rem 1.2rem;
    }
    .kyp-bg .kyp-head img{
        width: 210px;
    }
    .kyp-bg .spend-tracker{
        border-top-left-radius: 1.3rem;
        border-top-right-radius: 1.3rem;
        border-top: 3px solid #614e2f;
        margin-top: 1rem;
    }
    .kyp-bg .tracker-foot{
        border-bottom-left-radius: 1.3rem;
        border-bottom-right-radius: 1.3rem;
        border-bottom: 1.8px solid #614e2f;
    }
    .kyp-bg .kyp-chart{
        border-radius: 1.3rem;
        padding: 1.3rem 0.5rem 0.7rem 0.5rem;
        margin-top: 1.3rem;
        border: 2px solid #614e2f;
    }
    .kyp-bg .kyp-chart h1{
        font-size: calc(1rem + 0.5vw);
    }
    .kyp-bg .kyp-chart h2{
        font-size: calc(0.85rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .kyp-bg .kyp-chart .kyp-table{
        margin-top: 1.3rem;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column{
        width: 38%;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:first-child {
        width: 43%;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:last-child {
        width: 20%;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column p{
        font-size: calc(0.6rem + 0.5vw)
    }
    .kyp-bg .kyp-accordion{
        border-radius: 1.3rem;
        padding: 0.8rem 0.5rem;
        margin-top: 1.3rem;
        border: 2px solid #614e2f;
    }
    .kyp-accordion .accordion-button{
        padding: 0.9rem 2rem 0.9rem 0.6rem;
    }
    .kyp-accordion .accordion-body {
        padding: 0.9rem 0.6rem;
    }
    .kyp-accordion .accordion-body span{
        font-size: calc(0.8rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .kyp-accordion .accordion-body p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .kyp-accordion .accordion-body ul{
        font-size: calc(0.65rem + 0.5vw);
    }
    .kyp-accordion .accordion-body table th,
    .kyp-accordion .accordion-body table td{
        padding: 10px 5px;
        font-size: calc(0.6rem + 0.5vw);
    }
    .kyp-accordion .accordion-button{
        font-size: calc(1rem + 0.5vw);
    }
    .kyp-accordion .accordion-button.collapsed::before,
    .kyp-accordion .accordion-button::before {
        right: 0.6rem;
        font-size: 1rem;
    }
    .kyp-bg .cta-content{
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }
    .kyp-bg .cta-content p{
        font-size: calc(0.75rem + 0.5vw);
    }
}

@media screen and (min-width: 405px) and (max-width: 768px) {
     .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column{
        width: 40%;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:first-child {
        width: 43%;
    }
    .kyp-bg .kyp-chart .kyp-table-row .kyp-table-column:last-child {
        width: 16%;
    }
}
/* Know Your Program Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* Track Progress Page Styles Start Here */
.track-progress-head{
    text-align: center;
    margin-top: 2rem;
}
.track-progress-head h1{
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 600;
    background: linear-gradient(to right, #dcdcdc 10%, #e0c18f 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "EB Garamond", serif;
}
.track-progress-head p{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    margin-top: 1rem;
}
.track-progress-sub-head{
    text-align: center;
    margin-top: 2.5rem;
}
.track-progress-sub-head h4{
    font-size: calc(2rem + 0.5vw);
    font-weight: 600;
    background: linear-gradient(to right, #ffedce 10%, #aa8a56 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "EB Garamond", serif;
}
.track-progress-sub-head h4 span{
    font-family: 'ArialMTLight', Arial, sans-serif;
    font-size: calc(1.7rem + 0.5vw);
}
.track-progress-sub-head h5{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    margin-top: 1rem;
}
.track-progress-card{
    margin-top: 2.5rem;
    padding-bottom: 2rem;
}
.track-progress-card p{
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    color: #d7d7d7;
}
.track-progress-card .progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.track-progress-card .progress-bar .bar-left{
    width: 27%;
    text-align: start;
    padding: 0.5rem 1rem;
}
.track-progress-card .progress-bar .bar-right{
    width: 73%;
    text-align: end;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background: linear-gradient(
        to right,
        #ebc676 0%,
        #946924 var(--progress),
        #27241d var(--progress),
        #27241d 100%
    );
    transition: background 0.3s ease;
}
.track-progress-card .progress-bar .bar-left p{
    margin: 0;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
}
.track-progress-card .progress-bar .bar-left p i{
    margin-right: 5px;
}
.track-progress-card .progress-bar .bar-right span{
    color: #d9d9d9;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
}
.track-progress-card .btn-row{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
}
.track-progress-card .btn-row button{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #151515;
    border: none;
    border-radius: 8px;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    padding: 0.5rem 2.5rem;
}
.track-progress-card .btn-row button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .track-progress-head{
        margin-top: 1.3rem;
    }
    .track-progress-head h1{
        font-size: calc(1.7rem + 0.5vw);
    }
    .track-progress-head p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
    }


    .track-progress-sub-head{
        margin-top: 1.3rem;
    }
    .track-progress-sub-head h4{
        font-size: calc(1.4rem + 0.5vw);
    }
    .track-progress-sub-head h4 span{
        font-size: calc(1.2rem + 0.5vw);
    }
    .track-progress-sub-head h5{
        font-size: calc(0.95rem + 0.5vw);
        margin-top: 0.5rem;
        width: 80%;
        margin-left: 10%;
    }
    .track-progress-card{
        margin-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .track-progress-card p{
        font-size: calc(0.85rem + 0.5vw);
    }
    .track-progress-card .progress-bar{
        margin-bottom: 0.5rem;
    }
    .track-progress-card .progress-bar .bar-left{
        width: 38%;
        padding: 0.2rem 0;
    }
    .track-progress-card .progress-bar .bar-right{
        width: 62%;
        padding: 0.2rem 0.5rem;
    }
    .track-progress-card .progress-bar .bar-left p{
        font-size: calc(0.7rem + 0.5vw);
    }
    .track-progress-card .progress-bar .bar-left p i{
        margin-right: 2px;
        font-size: calc(0.6rem + 0.5vw);
    }
    .track-progress-card .progress-bar .bar-right span{
        font-size: calc(0.7rem + 0.5vw);
    }
    .track-progress-card .btn-row{
        gap: 1rem;
        margin-top: 1.8rem;
    }
    .track-progress-card .btn-row a{
        width: 48%;
    }
    .track-progress-card .btn-row button{
        width: 100%;
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.5rem 0;
    }
    .track-progress-bg footer{
        gap: 1.7rem;
        margin-top: 1rem;
        padding: 1.5rem 0.5rem 1rem 0.5rem;
    }
    .track-progress-bg footer a{
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .track-progress-head h1{
        font-size: calc(1.9rem + 0.5vw);
    }
    .track-progress-card .progress-bar .bar-left{
        width: 34%;
    }
    .track-progress-card .progress-bar .bar-right{
        width: 66%;
    }
}
@media screen and (min-width: 422px) and (max-width: 768px) {
    .track-progress-head p{
        width: 90%;
        margin-left: 5%;
    }
}
/* Track Progress Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* Passbook Page Styles Start Here */
.passbook-head{
    text-align: center;
    margin-top: 2.5rem;
}
.passbook-head h1{
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 600;
    background: linear-gradient(to right, #d7af6e 40%, #f9e3bf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "EB Garamond", serif;
}
.wallet-progress .wallet-progress-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
}
.wallet-progress .wallet-progress-content p{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
}
.wallet-progress .wallet-progress-content h2{
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 600;
    color: #a47f44;
}
.wallet-progress .wallet-progress-content span{
    font-size: calc(0.4rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    display: block;
}
.wallet-progress .wallet-progress-line{
    border-radius: 10px;
    height: 7px;
    margin-top: 1.5rem;
    background: linear-gradient(
        to right,
        #946924 15%,
        #ebc676 var(--progress),
        #27241d var(--progress),
        #27241d 100%
    );
    transition: background 0.3s ease;
}
.passbook-table{
    margin-top: 3rem;
}
.passbook-table table{
    margin-top: 3.5rem;
    width: 100%;
    text-align: center;
    background-color: #0a0a09;
}
.passbook-table table th,
.passbook-table table td{
    border: 1px solid #bfa274;
    padding: 10px;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
}
.passbook-table table th{
    font-size: calc(0.7rem + 0.5vw);
    color: #a3895e;
}
.passbook-table table td.red{
    color: #bf211f;
}
.passbook-bg .btn-row{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 3.5rem;
}
.passbook-bg .btn-row a{
    width: 40%;
}
.passbook-bg .btn-row a button{
    width: 100%;
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #151515;
    border: none;
    border-radius: 8px;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    padding: 0.5rem 2.5rem;
}
.passbook-bg .btn-row a button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .passbook-head{
        margin-top: 1.8rem;
    }
    .passbook-head h1{
        font-size: calc(1.7rem + 0.5vw);
    }
    .wallet-progress .wallet-progress-content{
        margin-top: 1.2rem;
    }
    .wallet-progress .wallet-progress-content p{
        font-size: calc(0.7rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .wallet-progress .wallet-progress-content h2{
        font-size: calc(1rem + 0.5vw);
        margin-bottom: 0.4rem;
    }
    .wallet-progress .wallet-progress-content span{
        font-size: calc(0.52rem + 0.5vw);
    }
    .wallet-progress .wallet-progress-line{
        height: 5px;
        margin-top: 1.2rem;
    }
    .passbook-table{
        margin-top: 0;
    }
    .passbook-table table{
        margin-top: 2rem;
    }
    .passbook-table table th,
    .passbook-table table td{
        padding: 10px 4px;
        font-size: calc(0.55rem + 0.5vw);
    }
    .passbook-table table th{
        font-size: calc(0.6rem + 0.5vw);
    }
    .passbook-bg .btn-row{
        margin-top: 2rem;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 2.5rem;
    }
    .passbook-bg .btn-row a{
        width: 47.7%;
    }
    .passbook-bg .btn-row a button{
        font-size: calc(0.53rem + 0.5vw);
        padding: 0.5rem 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 404px) {
    .passbook-bg .btn-row a button{
        font-size: calc(0.58rem + 0.5vw);
    }
}
@media screen and (min-width: 405px) and (max-width: 768px) {
    .wallet-progress .wallet-progress-content p{
        font-size: calc(0.75rem + 0.5vw);
    }
    .wallet-progress .wallet-progress-content h2{
        font-size: calc(1.05rem + 0.5vw);
    }
    .wallet-progress .wallet-progress-content span{
        font-size: calc(0.55rem + 0.5vw);
    }
    .passbook-table table th,
    .passbook-table table td{
        padding: 10px 5px;
        font-size: calc(0.6rem + 0.5vw);
    }
    .passbook-table table th{
        font-size: calc(0.65rem + 0.5vw);
    }
    .passbook-bg .btn-row a button{
        font-size: calc(0.6rem + 0.5vw);
    }
}
/* Passbook Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* T&C Page Styles Start Here */
.terms-and-conditions{
    min-height: 100vh;
    background-color: #11110f;
    padding: 3rem 20%;
}
.terms-and-conditions h1{
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, #d7af6e 40%, #f9e3bf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "EB Garamond", serif;
}
.terms-and-conditions-content{
    margin-top: 2.5rem;
}
.terms-and-conditions-content p{
    font-size: calc(0.7rem + 0.5vw);
    color: #bfa274;
    font-weight: 600;
}
.terms-and-conditions-content h2{
    font-size: calc(1.3rem + 0.5vw);
    color: #a58755;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-family: "EB Garamond", serif;
    font-weight: 800;
}
.terms-and-conditions-content ul{
    font-size: calc(0.7rem + 0.5vw);
    color: #bfa274;
    font-weight: 600;
}
.terms-and-conditions-content ul li{
    margin-bottom: 0.5rem;
}
.terms-and-conditions-content table{
    width: 100%;
    background-color: #0a0a09;
}
.terms-and-conditions-content table th,
.terms-and-conditions-content table td{
    border: 1px solid #bfa274;
    padding: 10px;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .terms-and-conditions{
        padding: 2rem 1.2rem;
    }
    .terms-and-conditions h1{
        font-size: calc(1.75rem + 0.5vw);
    }
    .terms-and-conditions-content{
        margin-top: 1.5rem;
    }
    .terms-and-conditions-content p{
        font-size: calc(0.7rem + 0.5vw);
    }
    .terms-and-conditions-content h2{
        font-size: calc(1.1rem + 0.5vw);
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .terms-and-conditions-content ul{
        font-size: calc(0.7rem + 0.5vw);
    }
    .terms-and-conditions-content ul li{
        margin-bottom: 0.7rem;
    }
    .terms-and-conditions-content table{
        width: 100%;
        background-color: #0a0a09;
    }
    .terms-and-conditions-content table th,
    .terms-and-conditions-content table td{
        border: 1px solid #bfa274;
        padding: 10px;
        font-size: calc(0.65rem + 0.5vw);
        font-weight: 600;
        color: #bfa274;
    }
}
/* T&C Page Styles End Here */

/* ----------------------------------------------------------------------------- */