* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import custom ArialMTLight font */
@font-face {
  font-family: 'ArialMTLight';
  src: url('../fonts/ARIALMTLIGHT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ArialMTLight', Arial, sans-serif;
}

/* ----------------------------------------------------------------------------- */

/* Login Page Styles Start Here */
.login-bg{
    min-height: 100vh;
    background: linear-gradient(to right, #11110f 35%, #1c1918);
    padding: 3rem 20%;
}
.login-bg .login-container{
    background-color: #0f0d0a;
    padding: 2.5rem 5rem 4rem 5rem; 
    border-radius: 2rem;
    /* box-shadow: -10px 18px 35px 0 #000, 2px -1.5px 6px 0 #808080; */
    box-shadow:
    2px 2px 6px 0 #ac823f,
    -2px 2px 6px 0 #ac823f,
    2px -2px 6px 0 #ac823f,
    -2px -2px 6px 0 #ac823f;
}
.login-bg .login-container .logo{
    display: flex;
    justify-content: center;
}
.login-bg .login-container .logo img{
    width: 300px;
}
.login-bg .login-container .login-title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.login-bg .login-container a{
    text-decoration: underline;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
}
.login-bg .login-form form{
    margin-top: 2.5rem;
}
.login-bg .login-form form .input-box{
    margin-bottom: 1rem;
}
.login-bg .login-form form input,
.login-bg .login-form form button{
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
}
.login-bg .login-form form input::placeholder{
    color: #bfa274;
}
.login-bg .login-form form input:focus{
    outline: 2px solid #614e2f;
}
.login-bg .login-form form input::-webkit-inner-spin-button{
    display: none;
}
.login-bg .login-form form #input-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.login-bg .login-form form #input-box-2 input{
    width: 70%;
}
.login-bg .login-form form #input-box-2 button{
    width: 28%;
    border: 2.4px solid #7a633e;
    background-color: #13120e;
    padding: 0.9rem 0;
    box-shadow: #ac823f 0px 3px 8px;
}
.login-bg .login-form form #input-box-2 button:active{
    box-shadow: #ac823f 0px 7px 8px;
}
.login-bg .login-form form button[type="submit"]{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #1b1b1b;
    border: none;
    font-size: calc(1.2rem + 0.5vw);
}
.login-bg .login-form form button[type="submit"]:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
.login-bg .login-bottom-text{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1.5rem;
}
.login-bg .login-bottom-text p{
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
}
.login-bg .login-bottom-text i{
    margin-right: 5px;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .login-bg{
        padding: 4rem 1.7rem 3rem 1.7rem;
    }
    .login-bg .login-container{
        padding: 1rem 1.3rem 2rem 1.3rem; 
    }
    .login-bg .login-container .logo img{
        width: 270px;
    }
    .login-bg .login-container .login-title{
        margin-top: 1.2rem;
    }
    .login-bg .login-container a{
        font-size: calc(0.9rem + 0.5vw);
    }

    .login-bg .login-form form{
        margin-top: 1.5rem;
    }
    .login-bg .login-form form .input-box{
        margin-bottom: 0.9rem;
    }
    .login-bg .login-form form input,
    .login-bg .login-form form button{
        padding: 1rem 1rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .login-bg .login-form form input:focus{
        outline: 1.5px solid #614e2f;
    }
    .login-bg .login-form form #input-box-2{
        margin-bottom: 1.8rem;
    }
    .login-bg .login-form form #input-box-2 input{
        width: 59%;
    }
    .login-bg .login-form form #input-box-2 button{
        width: 36.5%;
        border: 2px solid #7a633e;
        /* padding: 1rem 0; */
        padding: 0.7rem 0;
    }
    .login-bg .login-form form #input-box-2 button:active{
        box-shadow: #ac823f 0px 6px 8px;
    }
    .login-bg .login-form form button[type="submit"]{
        font-size: calc(1.2rem + 0.5vw);
        padding: 0.8rem 1rem;
    }
    .login-bg .login-bottom-text{
        flex-direction: column;
        align-items: left;
        padding: 0 0.5rem;
        margin-top: 1.5rem;
    }
    .login-bg .login-bottom-text p{
        font-size: calc(0.7rem + 0.5vw);
        margin-bottom: 0.4rem;
    }
    .login-bg .login-bottom-text i{
        margin-right: 4px;
    }
}

@media screen and (min-width: 420px) and (max-width: 767px){
    .login-bg{
        padding: 6rem 1.7rem 3rem;
    }
}
/* Login Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* SignUp Page Styles Start Here */
.signup-bg{
    min-height: 100vh;
    background: linear-gradient(
        to bottom right,
        #2a2110 0%,
        #2a2110 2%,
        #11110f 25%,
        #11110f 100%
    );
    padding: 3rem 20%;
}
.signup-bg .logo{
    display: flex;
    justify-content: center;
}
.signup-bg .logo img{
    width: 300px;
}
.signup-container{
    background-color: #0a0a0a;
    padding: 2.5rem 3.5rem; 
    border-radius: 2rem;
    border: 3px solid #614e2f;
    margin-top: 2rem;
}
.signup-container form .input-box{
    margin-bottom: 1.5rem;
}
.signup-container form label{
    width: 100%;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
    margin-bottom: 0.5rem;
}
.signup-container form input{
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
}
.signup-container form input:focus{
    outline: 2px solid #614e2f;
}
.signup-container form #gender-input-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.signup-container form #gender-input-box label{
    width: max-content;
    font-size: calc(0.6rem + 0.5vw);
    margin-top: 0.5rem;
    margin-right: 3rem;
}
.signup-container form #gender-input-box input{
    width: max-content;
    margin-right: 0.6rem;
    accent-color: #614e2f;
    outline: none;
    width: 18px;
    height: 18px;
}
.signup-container form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(38%) sepia(24%) saturate(1117%) hue-rotate(7deg) brightness(92%) contrast(86%);
}
.signup-container form #phone-input-box {
    display: flex;
    align-items: center;
}
.signup-container form #phone-input-box span{
    padding: 1.2rem 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
    border-right: none;
}
.signup-container form #phone-input-box span.focused{
    border-top: 3.3px solid #614e2f;
    border-left: 3.3px solid #614e2f;
    border-bottom: 3.3px solid #614e2f;
}
.signup-container form #phone-input-box input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #0a0a08;
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    border: 2px solid #614e2f;
    outline: none;
}
.signup-container form #phone-input-box input:focus{
    border-top: 3.3px solid #614e2f;
    border-right: 3.3px solid #614e2f;
    border-bottom: 3.3px solid #614e2f;
}
.signup-container form #phone-input-box input::-webkit-inner-spin-button{
    display: none;
}
.signup-container form #checkbox-section{
    display: flex;
    gap: 1rem;
}
.signup-container form #checkbox-section input{
    width: 30px;
    height: 30px;
    outline: none;
    accent-color: #bfa274;
}
.signup-container form #checkbox-section p{
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
    margin-top: 2px;
}
.signup-container form button{
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #0f0f0f;
    font-weight: 600;
    font-size: calc(1.1rem + 0.5vw);
    border: none;
    width: 45%;
    padding: 0.5rem 0 0.6rem 0;
    border-radius: 8px;
    margin-top: 2rem;
    transition: all 0.2s ease;
}
.signup-container form button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
.signup-container .signup-title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.signup-container .signup-title a{
    text-decoration: underline;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
}
.signup-bg .signup-foot-text{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.signup-bg .signup-foot-text p{
    text-align: center;
    color: #bfa274;
    font-weight: 600;
    font-size: calc(0.4rem + 0.5vw)
}
.signup-bg .signup-foot-text i{
    margin-right: 5px;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .signup-bg{
        padding: 2.5rem 1.2rem 1rem 1.2rem;
    }
    .signup-bg .logo img{
        width: 270px;
    }
    .signup-container{
        padding: 1.2rem 1.2rem; 
        border-radius: 1.3rem;
        border: 2px solid #614e2f;
        margin-top: 0.8rem;
    }
    .signup-container form .input-box{
        margin-bottom: 1rem;
    }
    .signup-container form label{
        font-size: calc(0.8rem + 0.5vw);
    }
    .signup-container form input{
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
    }
    .signup-container form input:focus{
        outline: 0.8px solid #614e2f;
    }
    .signup-container form #gender-input-box label{
        font-size: calc(0.68rem + 0.5vw);
        margin-top: 0.59rem;
        margin-right: 1.1rem;
    }
    .signup-container form #gender-input-box input{
        margin-right: 0.4rem;
        width: 14px;
        height: 14px;
    }
    .signup-container form input[type="date"]::placeholder {
        font-size: calc(0.85rem + 0.5vw);
    }
    .signup-container form #phone-input-box span{
        padding: 0.5rem 0.7rem;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
        border-right: none;
    }
    .signup-container form #phone-input-box span.focused{
        border-top: 2.6px solid #614e2f;
        border-left: 2.6px solid #614e2f;
        border-bottom: 2.6px solid #614e2f;
    }
    .signup-container form #phone-input-box input{
        font-size: calc(0.9rem + 0.5vw);
        border: 1.8px solid #614e2f;
    }
    .signup-container form #phone-input-box input:focus{
        border-top: 2.6px solid #614e2f;
        border-right: 2.6px solid #614e2f;
        border-bottom: 2.6px solid #614e2f;
    }

    .signup-container form #checkbox-section{
        gap: 0.5rem;
    }
    .signup-container form #checkbox-section input{
        width: 35px;
        height: 35px;
    }
    .signup-container form #checkbox-section p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 9px;
    }
    .signup-container form button{
        font-size: calc(1rem + 0.5vw);
        width: 65%;
        padding: 0.45rem 0 0.45rem 0;
        border-radius: 8px;
        margin-top: 1.5rem;
        transition: all 0.2s ease;
    }
    .signup-container .signup-title a{
        font-size: calc(0.68rem + 0.5vw);
    }
    .signup-bg .signup-foot-text{
        margin-top: 1.5rem;
    }
    .signup-bg .signup-foot-text p{
        font-size: calc(0.47rem + 0.5vw)
    }
    .signup-bg .signup-foot-text i{
        margin-right: 3px;
    }
}
/* SignUp Page Styles End Here */

/* ----------------------------------------------------------------------------- */

/* Home Page Styles Start Here */
.home-bg{
    min-height: 100vh;
    background-color: #11110f;
    padding: 3rem 20% 0 20%;
}
.home-head .logo{
    display: flex;
    justify-content: center;
}
.home-head .logo img{
    width: 300px;
}
.home-head h1{
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 600;
    color: #bfa274;
    text-shadow: 0px 1px #f3d192;
    margin-top: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(90deg, #bfa274, #f3d192, #bfa274);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.home-bg .member-card{
    background-color: #0c0c0c;
    padding: 3rem; 
    border-radius: 1.5rem;
    border: 3px solid #614e2f;
    margin-top: 2rem;
}
.home-bg .member-card .member-card-row{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.home-bg .member-card .member-card-row:last-child{
    margin-bottom: 0;
}
.home-bg .member-card .member-card-row i{
    color: #80673d;
    font-size: calc(1rem + 0.5vw);
    margin-right: 1rem;
}
.home-bg .member-card .member-card-row h2{
    color: #bfa274;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    margin: 0;
}
.home-bg .member-card .member-card-row span{
    color: #8f7548;
    margin-left: 1.5rem;
    font-size: calc(0.9rem + 0.5vw);
}
.home-bg .spend-card{
    padding: 0;
    padding-top: 3rem;
    overflow: hidden;
}
.home-bg .spend-card .member-card-row{
    padding: 0 3rem;
}
.home-bg .spend-card .spend-tracker{
    background-color: #000;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.home-bg .spend-card .spend-tracker .tracker-box{
    width: 33.2%;
}
.home-bg .spend-card .spend-tracker .tracker-box h3{
    color: #a68a5d;
    font-weight: 600;
    font-size: calc(0.6rem + 0.5vw);
    margin-bottom: 0.6rem;
}
.home-bg .spend-card .spend-tracker .tracker-box:first-child .tier-line{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.home-bg .spend-card .spend-tracker .tracker-box:last-child .tier-line{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.home-bg .spend-card .spend-tracker .tier-line {
    padding: 0.3rem 0;
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff var(--progress),
        #30302f var(--progress),
        #30302f 100%
    );
    transition: background 0.3s ease;
}
.home-bg .spend-card .spend-tracker .tier-line span{
    color: #ceb181;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
}
.home-bg .spend-card .spend-tracker .tier-line.active{
    background: linear-gradient(to right, #ebc676 10%, #9a6f2b) !important;
}
.home-bg .spend-card .spend-tracker .tier-line.active span{
    color: #000;
}
.home-bg .spend-card .spend-tracker .tracker-box p{
    color: #d3d3d3;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
    margin: 0;
    margin-bottom: 0.6rem;
}
.home-bg .spend-card .tracker-foot{
    background-color: #000;
    padding: 0 0 1rem 0;
}
.home-bg .spend-card .tracker-foot p{
    margin: 0;
    text-align: center;
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
}
.home-bg .cts-btns{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-bg .cts-btns a{
    width: 24%;
}
.home-bg .cts-btns a button{
    width: 100%;
    background: linear-gradient(to right, #b58441 55%, #f3d192);
    color: #151515;
    border: none;
    border-radius: 8px;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    padding: 0.5rem 0;
}
.home-bg .cts-btns a button:hover{
    background: linear-gradient(to right, #f3d192 10%, #b58441 50%);
}
.home-bg footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    border-top: 2px solid #bfa274;
    border-radius: 80px;
    padding: 1rem 0;
}
.home-bg footer a{
    color: #bfa274;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
}
.home-bg footer a:hover{
    color: #a88a5b;
}

/* For Small Screens */
@media screen and (max-width: 767px){
    .home-bg{
         padding: 2.5rem 1.2rem 1rem 1.2rem;
    }
    .home-head .logo img{
        width: 270px;
    }
    .home-head h1{
        font-size: calc(1rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .home-bg .member-card{
        padding: 1.2rem 1.1rem; 
        border-radius: 1.3rem;
        border: 2px solid #614e2f;
        margin-top: 1.3rem;
    }
    .home-bg .member-card .member-card-row{
        margin-bottom: 1rem;
    }
    .home-bg .member-card .member-card-row i{
        font-size: calc(1rem + 0.5vw);
        margin-right: 0.6rem;
    }
    .home-bg .member-card .member-card-row h2{
        font-size: calc(0.8rem + 0.5vw);
    }
    .home-bg .member-card .member-card-row span{
        margin-left: 0.6rem;
        font-size: calc(0.85rem + 0.5vw);
    }
    .home-bg .spend-card{
        padding: 0;
        padding-top: 1.2rem;
    }
    .home-bg .spend-card .member-card-row{
        padding: 0 1.2rem;
    }
    .home-bg .spend-card .spend-tracker{
        padding: 1.2rem 0.4rem;
    }
    .home-bg .spend-card .spend-tracker .tracker-box{
        width: 33.1%;
    }
    .home-bg .spend-card .spend-tracker .tracker-box h3{
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .home-bg .spend-card .spend-tracker .tier-line{
        padding: 0.22rem 0 0.22rem 0;
    }
    .home-bg .spend-card .spend-tracker .tier-line span{
        /* font-size: calc(0.63rem + 0.5vw); */
        font-size: calc(0.43rem + 0.5vw);
    }
    .home-bg .spend-card .spend-tracker .tracker-box p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .home-bg .spend-card .tracker-foot p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .home-bg .cts-btns{
        margin-top: 1.3rem;
    }
    .home-bg .cts-btns a{
        width: 48.5%;
    }
    .home-bg .cts-btns a button{
        font-size: calc(0.75rem + 0.5vw);
        margin-bottom: 0.6rem;
    }
    .home-bg footer{
        gap: 2.5rem;
        margin-top: 1.6rem;
        border-top: 1.7px solid #bfa274;
    }
    .home-bg footer a{
        font-size: calc(0.7rem + 0.5vw);
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .home-bg .spend-card .spend-tracker .tier-line span{
        font-size: calc(0.5rem + 0.5vw);
    }
}
/* Home Page Styles End Here */

/* ----------------------------------------------------------------------------- */